.u-section-1 .u-sheet-1 {
  min-height: 1707px;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 332px;
  margin: 84px auto 0 0;
}

.u-section-1 .u-image-2 {
  width: 570px;
  height: 310px;
  margin: -323px 0 0 auto;
}

.u-section-1 .u-text-1 {
  font-family: Almarai;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 14px 12px 0 683px;
}

.u-section-1 .u-text-2 {
  font-family: Almarai;
  font-size: 1.5rem;
  font-weight: 700;
  margin: -56px 589px 0 92px;
}

.u-section-1 .u-image-3 {
  width: 570px;
  height: 349px;
  margin: 62px auto 0 0;
}

.u-section-1 .u-image-4 {
  width: 570px;
  height: 314px;
  margin: -314px 0 0 auto;
}

.u-section-1 .u-text-3 {
  font-family: Almarai;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 12px 570px 0 111px;
}

.u-section-1 .u-text-4 {
  font-family: Almarai;
  font-size: 1.5rem;
  font-weight: 700;
  margin: -84px 12px 0 669px;
}

.u-section-1 .u-image-5 {
  width: 570px;
  height: 335px;
  margin: 47px -14px 0 auto;
}

.u-section-1 .u-image-6 {
  width: 570px;
  height: 301px;
  margin: -301px auto 0 0;
}

.u-section-1 .u-text-5 {
  font-family: Almarai;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 14px 589px 0 92px;
}

.u-section-1 .u-text-6 {
  font-family: Almarai;
  font-size: 1.5rem;
  font-weight: 700;
  margin: -56px 0 0 681px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-size: 1.125rem;
  font-weight: 700;
  font-family: Almarai;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 155px 213px 0 auto;
  padding: 11px 41px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-size: 1.125rem;
  font-weight: 700;
  font-family: Almarai;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -51px auto 60px 227px;
  padding: 11px 41px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2787px;
  }

  .u-section-1 .u-image-1 {
    width: 470px;
    height: 273px;
    margin-top: 75px;
    margin-left: 200px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 97px;
    margin-right: auto;
  }

  .u-section-1 .u-text-1 {
    width: 565px;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    width: 597px;
    margin-top: -441px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-image-3 {
    width: 470px;
    height: 288px;
    margin-top: 874px;
    margin-left: auto;
  }

  .u-section-1 .u-image-4 {
    margin-top: -696px;
    margin-right: auto;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 821px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: -848px;
    margin-left: 64px;
    margin-right: 64px;
  }

  .u-section-1 .u-image-5 {
    margin-top: 433px;
    margin-right: auto;
    margin-left: 135px;
  }

  .u-section-1 .u-image-6 {
    width: 470px;
    height: 248px;
    margin-top: 147px;
    margin-left: auto;
  }

  .u-section-1 .u-text-5 {
    width: 621px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: -890px;
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 1034px;
    margin-right: 146px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 143px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1523px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 830px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 20px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 40px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 20px;
    margin-right: 261px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 74px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -465px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 423px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-image-5 {
    margin-top: 57px;
  }

  .u-section-1 .u-image-6 {
    width: 360px;
    height: 190px;
    margin-top: 20px;
  }

  .u-section-1 .u-text-5 {
    margin-top: -320px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 340px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 314px;
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1405px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 940px;
    margin-left: 70px;
  }

  .u-section-1 .u-image-2 {
    width: 540px;
    height: 293px;
    margin-top: -334px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 85px;
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -92px;
    margin-right: 81px;
    width: 540px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 46px;
  }

  .u-section-1 .u-image-4 {
    width: 540px;
    height: 298px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 821px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 395px;
  }

  .u-section-1 .u-image-5 {
    width: 540px;
    height: 317px;
    margin-top: 29px;
    margin-left: 0;
  }

  .u-section-1 .u-image-6 {
    margin-top: -283px;
  }

  .u-section-1 .u-text-5 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 825px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 197px;
    margin-top: 475px;
    margin-left: 0;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 184px;
    margin-top: -218px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 192px;
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -90px;
    margin-right: auto;
    width: 340px;
  }

  .u-section-1 .u-image-3 {
    width: 340px;
    height: 208px;
    margin-top: 44px;
  }

  .u-section-1 .u-image-4 {
    width: 340px;
    height: 188px;
    margin-top: -616px;
  }

  .u-section-1 .u-image-5 {
    width: 340px;
    height: 200px;
    margin-top: 1px;
  }

  .u-section-1 .u-image-6 {
    width: 340px;
    height: 179px;
    margin-top: -166px;
  }

  .u-section-1 .u-text-5 {
    margin-top: -281px;
    width: 340px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 284px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 766px;
}

.u-section-2 .u-custom-html-1 {
  height: auto;
  min-height: 207px;
  margin-top: 11px;
  margin-bottom: 0;
}

.u-section-2 .u-text-1 {
  font-family: Almarai;
  width: auto;
  font-size: 1.875rem;
  font-weight: 700;
  margin: 148px auto 0;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  font-size: 1rem;
  font-weight: 700;
  font-family: Almarai;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  transition-duration: 0.5s;
  margin: 140px auto 60px;
  padding: 8px 13px 8px 11px;
}

.u-section-2 .u-icon-1 {
  vertical-align: 0px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-left: 64px;
    margin-right: 64px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-top: 188px;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-btn-1 {
    transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
  }
}

.u-section-2 .u-btn-1,
.u-section-2 .u-btn-1:before,
.u-section-2 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-btn-1.u-btn-1.u-btn-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-btn-1.u-btn-1.u-btn-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-container-layout:hover .u-btn-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-btn-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  width: 160px;
  height: 100px;
  margin-left: -80px;
  margin-top: -50px;
  border-radius: 5px;
  background: #1e3f57;
  animation: dot1_ 3s cubic-bezier(0.55,0.3,0.24,0.99) infinite;
}
.loader:nth-child(2) {
  z-index: 11;
  width: 150px;
  height: 90px;
  margin-top: -45px;
  margin-left: -75px;
  border-radius: 3px;
  background: #3c517d;
  animation-name: dot2_;
}
.loader:nth-child(3) {
  z-index: 12;
  width: 40px;
  height: 20px;
  margin-top: 50px;
  margin-left: -20px;
  border-radius: 0 0 5px 5px;
  background: #6bb2cd;
  animation-name: dot3_;
}
@keyframes dot1_ {
  3%,97% {
    width: 160px;
    height: 100px;
    margin-top: -50px;
    margin-left: -80px;
  }
  30%,36% {
    width: 80px;
    height: 120px;
    margin-top: -60px;
    margin-left: -40px;
  }
  63%,69% {
    width: 40px;
    height: 80px;
    margin-top: -40px;
    margin-left: -20px;
  }
}
@keyframes dot2_ {
  3%,97% {
    height: 90px;
    width: 150px;
    margin-left: -75px;
    margin-top: -45px;
  }
  30%,36% {
    width: 70px;
    height: 96px;
    margin-left: -35px;
    margin-top: -48px;
  }
  63%,69% {
    width: 32px;
    height: 60px;
    margin-left: -16px;
    margin-top: -30px;
  }
}
@keyframes dot3_ {
  3%,97% {
    height: 20px;
    width: 40px;
    margin-left: -20px;
    margin-top: 50px;
  }
  30%,36% {
    width: 8px;
    height: 8px;
    margin-left: -5px;
    margin-top: 49px;
    border-radius: 8px;
  }
  63%,69% {
    width: 16px;
    height: 4px;
    margin-left: -8px;
    margin-top: -37px;
    border-radius: 10px;
  }
}